// primary colors
$white: #ffffff;
$grey: #f7f7f7;
$black: #000000;
$pink: #FF337A;
$green: #31CD63;


// secondary colors
$dark-grey:#757575;;
$light-white: #F4F3F6;
$dark-blue: #191D63;
$select-bg: #EDE8E3;
$options-font-color: #060710;
$btn-disable-color: #747475;
$btn-disable-font:  #EDE8E2;
$pink-hover:#CC2962;
$pink-disable: #FFCADD;
$light-blue: #F9FBFF;
$sky-blue: #E5F6FD;

// border color
$primary-border-color: #f2f2f2;




